.App {
  text-align: center;
}

.community_header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}